<div class="row">
  <div class="col-sm-12">
    <div id="advanced-form">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-6">
              <label class="pr-3" for="searchSubject" [translate]="'Internships.Subject'"></label>
              <input [(ngModel)]="filter.subjectName" spellcheck="false" type="text" id="searchSubject" name="searchSubject"
                class="form-control col text-left" placeholder="{{ 'Internships.PartΟfΤheΤitle' | translate }}">
            </div>
            <div class="form-group col-6">
              <label class="pr-3" for="searchStudent" [translate]="'Internships.Student'">Student</label>
              <input [(ngModel)]="filter.studentName" spellcheck="false" type="text" id="searchStudent"
                name="searchStudent" class="form-control col text-left"
                placeholder="{{ 'Internships.StudentName' | translate }}">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
            <div class="form-group col-xl-3 col-md-6">
              <most-data #intershipStatusTypes [model]="'InternshipStatuses'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="intershipStatusTypes.value">
                <label class="pr-3" for="selectStatus" [translate]="'Internships.Status'">Status</label>
                <select class="custom-select flex-grow-1 col-7" [(ngModel)]="filter.internshipStatus">
                  <option [value]="undefined" [translate]="'Internships.Choose'"></option>
                  <option *ngFor="let item of intershipStatusTypes.value" [value]="item.alternateName"
                    [translate]="'InternshipStatus.'+ item.alternateName"></option>
                </select>
              </div>
            </div>
            <div class="form-group col-xl-3 col-md-6">
              <most-data #intershipAcademicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
              </most-data>
              <div class="d-flex flex-row w-100" *ngIf="intershipAcademicYears.value">
                <label class="pr-3" for="selectYear" [translate]="'Internships.YearAlternateName'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.academicYear">
                  <option [ngValue]="undefined" [translate]="'Internships.Choose'"></option>
                  <option *ngFor="let item of intershipAcademicYears.value" [ngValue]="item.id"
                    [translate]="item.alternateName"></option>
                </select>
              </div>
            </div>
            <div class="form-group col-xl-3 col-md-6">
              <most-data #intershipAcademicPeriods [model]="'AcademicPeriods'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="intershipAcademicPeriods.value">
                <label class="pr-3" for="selectPeriod" [translate]="'Internships.InternshipPeriodAlternateName'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.academicPeriod">
                  <option [value]="undefined" [translate]="'Internships.Choose'"></option>
                  <option *ngFor="let item of intershipAcademicPeriods.value" [value]="item.alternateName"
                    [translate]="'Periods.' + item.alternateName"></option>
                </select>
              </div>
            </div>
            <div class="form-group col-xl-3 col-md-6">
              <div class="d-flex flex-row w-100 justify-content-md-end">
                <label class="pr-3" for="selectBox" [translate]="'Internships.StartDate'"></label>
                <input [(ngModel)]="filter.startDate" type="text"
                  placeholder="{{ 'Internships.ChooseDate' | translate }}" class="form-control col-7 text-left"
                  bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YY' }">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
