.formio-deleted {
  * {
    text-decoration: line-through;
  }
  .formio-component {
    opacity: 0.7;
  }
  button {
    text-decoration: none;
  }

}
legend {
  font-size: 1.1rem !important;
}

.choices__list--multiple {
  .choices__item {
    font-weight: 400;
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    background-color: var(--indigo);
    max-width:90%;
    .text-truncate {
      display: inline-block;
      max-width:85%;
    }
    .choices__button {
      border-left: 1px solid var(--gray-100);
    }
  }
}

.formio-choices {
  .choices__input.choices__input--cloned {
    background-color: #FFF;
  }
}
