<!-- <div class="row mt-4">
  <div class="col-lg-8 col-md-7 col-12">
    <app-students-overview-lastregistration [studentId]="studentId"></app-students-overview-lastregistration>
    <app-students-overview-requests [studentId]="studentId"></app-students-overview-requests>
    <app-students-overview-currentgrades [studentId]="studentId"></app-students-overview-currentgrades>
  </div>
  <div class="col-lg-4 col-md-5 col-12">
    <app-students-overview-profile [studentId]="studentId"></app-students-overview-profile>
    <app-students-stats [studentId]="studentId" [showMore]="showMore"></app-students-stats>
    <app-students-overview-internships [studentId]="studentId"></app-students-overview-internships>
    <app-students-overview-theses [studentId]="studentId"></app-students-overview-theses>
    <app-students-overview-scholarships [studentId]="studentId"></app-students-overview-scholarships>
  </div>
</div> -->

<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" [translate]="tab.data.title" [routerLink]="[tab.path]"
        [routerLinkActive]="'active'"></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

