<div *ngIf="student">
  <div class="font-xl text-secondary pt-2 pb-2" [translate]="'Students.Rules'">
  </div>
  <div class="mt-2" *ngIf="studentRules && studentRules.length===0">
    <span class="text-muted" [translate]="'Students.StudyProgramRules'"></span>
  </div>
  <div class="flex-column text-right" *ngIf="studentRules && studentRules.length===0">
    <a class="text-decoration-none btn btn-warning" [routerLink]="['.', { outlets:{ modal:'graduateRules'} }]">
      <span>&nbsp;</span><span [translate]="'Students.SetRules'"></span>
    </a>
  </div>
  <div class="card" *ngIf="studentRules && studentRules.length>0">
    <div class="card-body">
      <h5 class="card-title" [translate]="'Rules.RuleTypes.StudentGraduationRules'"></h5>
      <div class="mt-2">
        <span class="text-muted" [translate]="'Students.StudentGraduationRulesHelp'"></span>
      </div>
      <div>
        <div class="flex-column pt-3">
        <div class="">
            <span>

               <a class="text-decoration-none btn btn-warning" [routerLink]="['.', { outlets:{ modal:'graduateRules'} }]">
          <span>&nbsp;</span><span [translate]="'Students.EditRules'"></span>
        </a>
              <span class="pl-3"></span>
 <button type="button" class="btn btn-warning"
         (click)="resetRules()">
                    {{'Students.RemoveRules' | translate }}</button>
             </span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <universis-graduation-progress #graduationProgress [student]="student"></universis-graduation-progress>
</div>
<router-modal></router-modal>
