// add application custom styles here
@import "~@universis/theme/scss/bootstrap/variables";
@import "~bootstrap/scss/functions";
@import "~ngx-bootstrap/datepicker/bs-datepicker";
.sidebar {
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  background-color: #FFF;
  .sidebar-minimizer {
    background-color: #FFF;
  }
}

@media (max-width: 991px){
  .app-header .navbar-toggler {
    display: inline-block !important;
  }
}

.formio-errors.invalid-feedback .form-text {
  color: #f86c6b;
  font-size: 1.5em;
}

.formio-component-datagrid.border-0 {
  .datagrid-table {
    border: none;
    th {
      border: none;
      font-weight: 400;
    }
    td {
      border: none;
    }
    tfoot {
      td {
        border: none !important;
      }
    }
  }
}

.formio-component-datagrid {
  .datagrid-table {
    th {
      color: map-get($theme-colors, 'secondary');
      font-size: 0.75rem;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 4px;
    }
    .formio-button-remove-row {
      i:before {
        content: "\f057";
      }
    }
  }
}
.formio-component-number.text-right {
  input[type=text] {
    text-align: right;
  }
}

// flatpickr styles

.flatpickr-months {
  margin-bottom: 10px;
}

.flatpickr-current-month {
  font-size: 120%;
}

.flatpickr-day {
  border-radius: 5px !important;
  &.selected {
    background-color: map-get($theme-colors, 'theme') !important;
  }
}

.fix-panel-for-locales {
  .card-header {
    display:none !important;
  }

  .acard-body {
    padding-top: 0px!important;
  }

  table {
    border: none!important;
  }

  td {
    border: none!important;
  }
}

.mx-w-90
{
  max-width: 90%;
}

