<div *ngIf="graduationEvent">
  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Graduations.SubmissionDocuments'"></h5>
      <a href="#/graduations/{{this.graduationEvent.id}}/dashboard/general" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="form-group text-dark">
        <div *ngIf="graduationEvent?.attachmentTypes?.length > 0" id="group-list"  class="flex-column">
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let attachment of graduationEvent?.attachmentTypes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-block "><span class="text-dark">{{ attachment?.attachmentType?.name }}</span></div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="graduationEvent?.attachmentTypes?.length === 0" id="group-list"  class="flex-column">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Graduations.NoDocuments'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
