<div>
  <div class="row">
    <div class="col-12" [ngVar]="{graduationEventId: graduationEventId}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.StudentsPlural'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.StudentsSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group mr-3" role="group">
        <button type="button" class="btn btn-success btn-lg universis-btn-export">
          <span [translate]="'Students.Export'"></span>
        </button>
      </div>
      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
                class="btn btn-outline-indigo btn-lg" (click)="acceptAction()" type="button"
                [translate]="'Requests.Edit.accept'">
          Accept
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
                  (click)="acceptAction()" [translate]="'Graduations.Edit.accept'">Accept
          </button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
                  (click)="rejectAction()" [translate]="'Graduations.Edit.reject'">Accept
          </button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
                  (click)="validateRequest()" [translate]="'Graduations.Edit.ValidateAction.Title'">Validate
          </button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
                  (click)="communicateWithAttendees()" [translate]="'Graduations.Edit.CommunicateWithAttendees.Title'">Validate
          </button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear
            selection
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
