<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="semesterRules">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="col-12 alert alert-info" [translate]="'StudyPrograms.SemesterRulesHelp'">
      </div>
    </div>
    <div class="pull-right ml-auto mr-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.semesterRules && this.semesterRules.selected && this.semesterRules.selected.length"
           class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'StudyPrograms.RemoveSpecialty'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'new'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'StudyPrograms.New'"></span>
        </a>
      </div>
    </div>


  </div>
  <router-modal></router-modal>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #rules [height]="600" [selectable]="true" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
</div>
