<div class="card" *ngIf="data">
  <div class="card-body">
    <h4 class="card-title"> {{'StudentRequestActionsTypes.ExamPeriodParticipateAction' | translate }} ({{data.year?.alternateName}}  {{data.examPeriod?.name | translate}})</h4>
    <div>
        <h6 class="font-weight-normal">
          <span>{{'ExamPeriodParticipateActions.SubmittedAt' | translate}} {{data.startTime | date: 'short'}}</span>
        </h6>
    </div>
     <div *ngIf="data" class="col-12">
      <div>
        <ng-container *ngIf="data.courseExamActions && data.courseExamActions.length">
          <div class="row" *ngIf="data.agree">
            <div class="py-2 d-flex">
              <label class="mr-3 align-self-center">
                <i class="fa fa-2x text-indigo" [ngClass]="{'fa-check': data.agree, 'fa-ban text-gray-100': !data.agree}"></i>
              </label>
              <label [translate]="'ExamPeriodParticipateActions.Agree'"></label>
            </div>
          </div>
          <div class="row" *ngIf="data.reject">
            <div class="py-2 d-flex">
              <label class="mr-3 align-self-center">
                <i class="fa fa-2x text-danger fa-ban"></i>
              </label>
              <label [translate]="'ExamPeriodParticipateActions.NotAgree'"></label>
            </div>
          </div>
          <!--begin:courses-->
          <div>
            <div class="row ml-lg-2 ml-md-2" *ngFor="let courseExamAction of data.courseExamActions;let i=index;">
              <div class="py-1 d-flex">
                <label class="mr-3 align-self-center">
                  <i class="fa fa-2x text-secondary" [ngClass]="{'fa-check': courseExamAction.agree, 'fa-ban text-gray-100': !courseExamAction.agree}"></i>
                </label>
                  <h6 class="font-weight-normal">
                    {{courseExamAction.courseExam.course.displayCode}} {{courseExamAction.courseExam.name}}
                  </h6>
              </div>
            </div>
          </div>
          <!--end:courses-->

        </ng-container>
        <ng-container *ngIf="data.courseExamActions && data.courseExamActions.length === 0">
            <!--begin:empty-->
              <div class="text-center">
                <div class="mt-4">
                  <div class="icon-circle bg-gray-300 border-gray-100"></div>
                </div>
                <div class="mt-4">
                  <h4 class="font-3xl text-dark" [translate]="'ExamPeriodParticipateActions.NoData.Title'"></h4>
                  <p class="font-lg text-dark" [translate]="'ExamPeriodParticipateActions.NoData.Message'"></p>
                </div>
                <div class="mt-2">
                  <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'ExamPeriodParticipateActions.Back'"></a>
                </div>
              </div>
            <!--end:empty-->
        </ng-container>
      </div>
    </div>
  </div>
</div>
